@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: unset;
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(../assests/images/day.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.todo-h1{
    color:#fff;
}

.container{
    width: 480px;
    height: 300px;
    background-color: none;
    margin: 0 auto;
    position: relative;
    top: -190px;
    padding: 10px;
}

.input-container{
    padding: 10px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 35px 0 35px 0;
}

.input-box input{
    padding-left: 10px;
    border: none;
    font-size: 20px;
    outline: none;
    width: 100%;
    align-items: center;
    color: #000;
}

.input-box{
    flex-basis: 90%;
}

.add{
    padding-right: 5px;
    font-size: 20px;
}

/*todo*/
.todo-list{
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow-y: scroll;
    font-size: 1rem;
}
.taskbar{
    color: #111;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.status{
    display: flex;
}

.all,.pending,.completed{
    padding-right: 10px;
}

/*footer*/

img.social{
    width: 30px;
    margin: 0 10px;
}

footer{
    background-color: #f1f1f1;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    color: rgb(69, 114, 114);
    position: absolute;
    bottom: 0;
    width: 100%;
}